* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: hsl(135, 33%, 19%);
}

:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: hsl(0, 0%, 95%);
}
