.form_button {
  border: 1px solid hsl(135, 33%, 19%);
  height: 45px;
  width: 150px;
  border-radius: 22.5px;
  text-transform: uppercase;
  background-color: transparent;
  color: hsl(135, 33%, 19%);
  font-family: Lato;
  font-weight: 500;
}

.form_button:hover {
  opacity: 0.5;
}
