.container {
  margin-top: 90px;
  height: 100%;
}

.heading {
  text-transform: uppercase;
  padding-bottom: 50px;
  font-size: 2.125rem;
  font-weight: 900;
}

.plant_container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 50px;
  grid-template-areas: "add plantgrid";
}

.add_plant_button {
  height: 220px;
  width: 220px;
  grid-area: add;
  background-color: hsl(135, 33%, 19%);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1, 1875rem;
}

.add_plant_button:hover {
  opacity: 0.5;
}

.plant_grid {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 50px;
  grid-template-rows: 283px;
  grid-area: "plantgrid";
}
